/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass";

.page-chatroom {
  $base-font-size: 13px;
  $base-line-height: 1.5 * $base-font-size;
  #context-links {
    margin: 0;
  }
  .feed-icon {
     display: none;
   }
  #sidebar-right {
    @include leader(1);
    padding: 0;
    background: none;
    > div {
      position: fixed;
    }
    #chat-message {
      padding: 5px;
    }
    #connected {
      margin-top: 10px;
    }
    .warning {
      background-color: #FEEFB3;
      color: #9F6000;
    }
    .success {
      background-color: #DFF2BF;
      color: #4F8A10;
    }
    .disconnected {
      @include opacity(.4);
    }
  }
  #main-content {
    #chats {
      p {
        margin: 0;
      }
      .user-container {
        position: relative;
        font-family: Verdana, Arial, sans-serif;
        @include leader(.5);
        @include trailer(.5);
        clear:both;
        list-style-image: none;
        list-style-type: none;
        margin-left: 0px;
        .user {
          float: left;
          width: 15%;
          .name {
            float:right;
            @include adjust-font-size-to(9px);
            overflow: hidden;
            margin-top: .9em;
          }
          img {
            float:right;
            padding-left: 5px;
            padding-right: 5px;
            @include leader(.5);
          }
        }
        .chat-messages {
          width: 82%;
          word-wrap: break-word;
          float:left;
          @include border-radius(5px);
          background-color: #f6f6f6;
          @include rhythm(0, .5, .5);
          padding-left: .75em;
          padding-right: .75em;
          @include adjust-font-size-to(12px);
          .humaneDate {
            float: right;
            padding: 3px;
            @include adjust-font-size-to(9px);
            @include border-radius(3px);
            background: white;
            line-height: 1;
          }
        }
      }
    }
    .enter-chat {
      margin-left: 116px;
      width: 75%;
    }
  }
}
